a {
    color: #fff !important;

    &.active {
        color: #3D639D !important;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    @media (max-width: 992px) {
        span {
            display: none !important;
        }
    }
}